PORT=4000
VITE_API_URL=http://localhost:4000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tsivaharshavardhanreddy08@gmail.com
SMTP_PASS=rlrsolysmpvzppg
ALERT_EMAIL_FROM=tsivaharshavardhanreddy08@gmail.com
ALERT_EMAIL_TO=tsivaharshavardhanreddy08@gmail.com
